/* Globale Design-Variablen und Body-Styles */
:root {
    --color-text: #2d2d2d;
    
    /* NEU: Deine Markenfarben */
    --color-primary: #445e11; /* Dein dunkles Grün */
    --color-secondary: #83a725; /* Dein helles Grün */
    
    --color-bg-light: #fdf8f4;
    --color-bg-medium: #f9f3ee;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
    line-height: 1.7;
    background-color: #fff;
}
.section {
    padding: 80px 20px;
}
.container {
    max-width: 850px;
    margin: 0 auto;
}
h1, h2, h3 {
    /* Farbe auf dein dunkles Grün geändert */
    color: var(--color-primary); 
    text-align: center;
    line-height: 1.3;
}
h1 { font-size: 42px; font-weight: 700; }
h2 { font-size: 36px; font-weight: 700; margin-bottom: 40px; }
p { font-size: 18px; }
.text-center { text-align: center; }


/* --- NEU: Header --- */
.header {
    /* HIER IST DIE ÄNDERUNG: Abstand oben/unten reduziert */
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.header img {
    max-width: 250px; /* Größe deines Logos */
    height: auto;
}


/* --- Hero Section --- */
.hero {
    background-color: var
